.todo__actions {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;

  svg {
    cursor: pointer;
  }
}

.todo {
  td {
    text-transform: capitalize;
  }
}

.todo--is-completed {
  text-decoration:line-through;
  color: rgba(255, 255, 255, 0.6);
}