.home-content {
  padding: 24px;
  background-image: url('/src/assets/banner.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0009;
  background-blend-mode: soft-light;
  min-height: 100dvh;
}

.home-content__title {
  text-align: center;
  font-size: 55px;
  text-wrap: balance;
  text-align: center;
}

.home-content__button {
  text-decoration: none;
  color: #FFF;
  font-weight: 600;
  position: relative;
  font-size: 25px;
  background: transparent;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #FFF;
  overflow: hidden;
}

.home-content__button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(var(--alt-color));
  border-radius: 5px;
  z-index: 1;
  transition: width 0.5s;
}

.home-content__button:hover {
  &::after {
    width: 100%;
  }
}

.home-content__button span {
  position: relative;
  z-index: 2;
}

@media (width <=720px) {
  .home-content__title {
    font-size: 35px;
  }

  .home-content__button span {
    z-index: 1;
  }

  .home-content__button::after {
    background-color: transparent;
  }
}