@import './fonts/index.fonts.css';

:root {
  color-scheme: dark;
  background-color: var(--main-color);

  --main-color: #000;
  --bg-gray-color: #0f0f0f;
  --alt-color: #7d2ae8;
  --danger-color: #800101;
  --danger-alt-color: #ce9d9d44;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}