.todos-container {
  background-color: var(--bg-gray-color);
  border-radius: 30px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.todos-table {
  width: 100%;
}

.todos-table thead {
  background-color: rgba(var(--alt-color));
}

.todos-table td, .todos-table th {
  padding: 12px;
  text-align: center;
}

.todos-table th:first-of-type {
  border-top-left-radius: 30px;
}

.todos-table th:last-of-type {
  border-top-right-radius: 30px;
}

.todos-table tbody tr {
  transition: background-color 0.3s ease-out;
}

.todos-table tbody tr:nth-of-type(odd) {
  background-color: rgba(var(--alt-color), 0.2);
}

.todos-table tbody tr:hover {
  background-color: rgba(var(--alt-color), 0.2);
}

.todos-table__count {
  font-weight: lighter;
  padding: 16px;
  display: block;
  text-align: end;
  font-size: 14px;
}

.todos-table__wrapper {
  scrollbar-width: thin;
  scrollbar-color: #6969dd #e0e0e0;
}

@media (width <= 720px) {
  .todos-table__wrapper {
    overflow-x: scroll;
  }
  
  .todos-table__wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(var(--alt-color), 0.3);
  }
}