.input {
  position: relative;
}

.input input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  color: #fff;
}

.input input:focus,
.input input:valid{
  outline: 0;
  border-bottom-color: rgba(var(--alt-color));
}

.input label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
  font-weight: bold;
}

.input label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input input:focus+label span,
.input input:valid+label span {
  color: rgba(var(--alt-color));
  transform: translateY(-30px);
}
