.confirmation-dialog {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100dvh;
  background-color: #a1a1a16e;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: falling 0.5s ease-out;
  color: #FFF;
}

.confirmation-dialog__content {
  background-color: var(--bg-gray-color);
  border-radius: 16px;
}

.confirmation-dialog__footer {
  border-top: 1px solid #3b3b3b;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.confirmation-dialog__header {
  padding: 32px;
  border-bottom: 1px solid #3b3b3b;

  h1 {
    font-size: 40px;
    text-align: center;
  }
}

.confirmation-dialog__message {
  padding: 32px;

  h3 {
    text-align: center;
    font-weight: normal;
  }
}

@keyframes falling {
  0% {
    transform: translateY(-600px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (width <= 720px) {
  .confirmation-dialog__header {
    padding: 20px 10px;
    h1 { font-size: 30px; }
  }
  
  .confirmation-dialog__message {
    padding: 20px 10px;
    h3 { font-size: 16px; }
  }

  .confirmation-dialog__footer {
    border-top: 1px solid #3b3b3b;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .confirmation-dialog {
    width: 100%;
    padding: 10px;
  }
}