.login-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 48px;
  border-radius: 10px 0 0 10px;
  background-color: var(--main-color);
  border: 1px solid #FFF;
  border-right: none;
}