.login-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 48px;
  border-radius: 10px 0 0 10px;
  background-color: var(--main-color);
  border: 1px solid #FFF;
  border-right: none;
}

.login-form__alert {
  border: 1px solid var(--danger-color);
  border-radius: 5px;
  padding: 15px;
  color: var(--danger-color);
  background-color: var(--danger-alt-color);
  font-weight: bold;
  text-transform: capitalize;
}

@media (width <=720px) {
  .login-form {
    border: 1px solid #FFF;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
  }
}