.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 48px;
  border-radius: 0 10px 10px 0;
  background-color: var(--main-color);
  border: 1px solid #FFF;
  border-left: none;
}

.sign-up-form__alert {
  border: 1px solid var(--danger-color);
  border-radius: 5px;
  padding: 15px;
  color: var(--danger-color);
  background-color: var(--danger-alt-color);
  font-weight: bold;
  text-transform: capitalize;
}

@media (width <=720px) {
  .sign-up-form {
    border: 1px solid #FFF;
    border-top: none;
    border-radius: 0 0 10px 10px;
  }
}