.nav-bar {
  position: fixed;
  bottom: 20px;
  left: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  backdrop-filter: blur(9px);
  background-color: rgba(15, 15, 15, 0.5);
  border-radius: 30px;
  padding: 12px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);

  ul {
    display: flex;
    gap: 24px;
    list-style: none;
  }

  li {
    background-color: #1a1a1a;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    transition: box-shadow 0.3s ease-in;
    
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFF;
    }
  }

  li:hover {
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.2);
  }
}